In [ ]:
'''Q1. Create one variable containing following type of data:

(i) string
(ii) list
(iii) float
(iv) tuple'''

In [2]:
a="Ashish"
print(type(a))

<class 'str'>

In [7]:
a=[12,14,"Ashish",10.5]
print(type(a))

<class 'list'>

In [4]:
a=10.5
print(type(a))

<class 'float'>

In [6]:
a=(12,14,"Ashish",10.5)
print(type(a))

<class 'tuple'>

In [ ]:
'''Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.'''

In [14]:
var1 = ' '
var2='[ DS , ML , Python]'
var3=[ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
'''Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **'''

In [21]:
 '/' (division operator) always performs floating point arithmatic .It always returns float value

'%' is used for find the reminder of any 2 number

"//" floar division opertor can perform both floating point and integral arithmatic.

 "**" exponent operator is used to find the power value of any number

print(11/5)
print(11%5)
print(11//5)
print(2**3)

2.2
1
2
8

In [15]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.'''

list=[10,22.5,"Ashish",18,90,8.8,14.9,"pwskills","MCA",44]
for i in list:
    print("element is {} and its data type is :{}".format(i,type(i)))

element is 10 and its data type is :<class 'int'>
element is 22.5 and its data type is :<class 'float'>
element is Ashish and its data type is :<class 'str'>
element is 18 and its data type is :<class 'int'>
element is 90 and its data type is :<class 'int'>
element is 8.8 and its data type is :<class 'float'>
element is 14.9 and its data type is :<class 'float'>
element is pwskills and its data type is :<class 'str'>
element is MCA and its data type is :<class 'str'>
element is 44 and its data type is :<class 'int'>

In [16]:
 """Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible."""

A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))
count = 0
while A % B == 0:
    A = A / B
    count += 1
if count > 0:
    print("total number of times A is divisible by B is:",count)
else:
    print("A is not divisible by B.")

Enter the value of A: 50
Enter the value of B: 5
total number of times A is divisible by B is: 2

In [11]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not."""

list=[55,33,56,78,95,93,76,7,26,23,66,34,62,44,56,78,88,45,67,78,99,66,78,90,33]
for i in list:
    if i%3==0:
        print(i,"is divisible by 3 ")
    else:
        print(i,"is not divisible by 3")

55 is not divisible by 3
33 is divisible by 3
56 is not divisible by 3
78 is divisible by 3
95 is not divisible by 3
93 is divisible by 3
76 is not divisible by 3
7 is not divisible by 3
26 is not divisible by 3
23 is not divisible by 3
66 is divisible by 3
34 is not divisible by 3
62 is not divisible by 3
44 is not divisible by 3
56 is not divisible by 3
78 is divisible by 3
88 is not divisible by 3
45 is divisible by 3
67 is not divisible by 3
78 is divisible by 3
99 is divisible by 3
66 is divisible by 3
78 is divisible by 3
90 is divisible by 3
33 is divisible by 3

In [ ]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.'''

mutable :
    Mutable objects are those that allow you to change 
their value or data in place without affecting the object's identity.

immutable:
immutable objects don't allow you to change 
their value or data in place without affecting the object's identity.

In [12]:
#mutable
cities = ["mumbai", "hyderabad", "chandigarh"]
print(cities)
# updating list elements
cities[0] = "thiruvananthapuram"
cities[-1] = "gandhinagar"
print(cities)

['mumbai', 'hyderabad', 'chandigarh']
['thiruvananthapuram', 'hyderabad', 'gandhinagar']

In [13]:
# Python code to test that
# tuples are immutable
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment